.note-container {
  padding: 10px 15px 10px 0;
  .note-item {
    padding-left: 15px;
    cursor: pointer;
  }
  .note-item-hide {
    display: none;
  }
  .note-item-active {
    background-color: blue;
  }
  .note-children {
    padding-left: 15px;
  }
}
